In [ ]:
# shows every output, not only the last one
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
import pandas as pd

In [ ]:
# read csv file to input the data
df = pd.read_csv('old_salaries_by_college_major.csv')

In [ ]:
# first five rows of the DataFrame
df.head()

In [ ]:
# rows x columns
df.shape

In [ ]:
df.columns

In [ ]:
df.isna()

In [ ]:
df.tail()

In [ ]:
# drop rows that have empty cells
df.dropna()

In [ ]:
clean_df = df.dropna()
clean_df.tail()

In [ ]:
clean_df['Starting Median Salary']

In [ ]:
clean_df['Starting Median Salary'].max()

In [ ]:
index = clean_df['Starting Median Salary'].idxmax()

In [ ]:
clean_df['Undergraduate Major'].loc[index]
clean_df['Undergraduate Major'][index]
# does the same thing

In [ ]:
clean_df.loc[index]

In [ ]:
# What college major has the highest mid-career salary?
max_index = clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Mid-Career Median Salary'].max()
clean_df['Undergraduate Major'][max_index]

In [ ]:
# Which college major has the lowest starting salary?
min_index = clean_df['Starting Median Salary'].idxmin()
print(f"College major: {clean_df['Undergraduate Major'][min_index]}")
print(f"Starting salary: {clean_df['Starting Median Salary'].min()}")

# Complete row
clean_df.loc[min_index]

In [ ]:
# Which college major has the lowest mid-career salary?
min_index = clean_df['Mid-Career Median Salary'].idxmin()
clean_df.loc[min_index]

In [ ]:
# Mid Career Spread (new column)
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

clean_df.insert(5, 'Mid-Career Salary Spread', spread_col)
clean_df.head()

In [ ]:
# Sorting by the Lowest Spread
low_risk = clean_df.sort_values('Mid-Career Salary Spread')
low_risk[['Undergraduate Major', 'Mid-Career Salary Spread']].head()

In [ ]:
# Degrees with the highest potential
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

In [ ]:
# Degrees with the greatest spread in salaries
highest_diff = clean_df.sort_values('Mid-Career Salary Spread', ascending=False)
highest_diff[['Undergraduate Major', 'Mid-Career Salary Spread']].head()

In [ ]:
# Highest median salaries
highest_med = clean_df.sort_values('Mid-Career Median Salary', ascending=False)
highest_med[['Undergraduate Major', 'Mid-Career Median Salary']].head()

In [ ]:
# Group by
clean_df.groupby('Group').count()

In [ ]:
# Mean
clean_df.groupby('Group').mean()

In [ ]:
# Format Output
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group').mean()